<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My Pantry</title>
</head>
<body>
  <%- include('partials/_navbar') %>

  <h1>Welcome to My Pantry</h1>

  <% if (user) { %>
    <a href="/users/<%= user._id %>/foods">View My Pantry</a>
    <a href="/users/<%= user._id %>/foods/new">Add New Item</a>
  <% } else { %>
    <p>Please sign in to manage your pantry.</p>
  <% } %>
</body>
</html>

